<html>

<head>
  <title>New Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    {% if saved %} <span class="saved">Event saved!</span>{% endif %}
    {% if error %} <span class="error">{{ error }}!</span>{% endif %}
    <form action="/new-event" method="POST">
      <input required id="uuid" name="uuid" type="hidden" value="{{ uuid }}">
      <div><label for="type">Type:</label><input required id="type" name="type" type="text"></div>
      <div><label for="data">Data:</label><input required id="data" name="data" type="text"></div>
      <div><label for="streamid">Stream Id:</label><input minlength="36" maxlength="36" required id="streamid"
          name="streamid" type="text" value="fc76d2d9-1f61-40b6-91fb-ee62cd539be5"></div>
      <div><input type="submit" value="Save"></div>
    </form>
  </div>
</body>

</html>