<html>

<head>
  <title>{{name}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>{{name}}</h1>
    <b>Email: </b> {{email}}
    <h2>Posts</h2>
    <ul>
      {% for post in posts %}
      <a href="/post/{{ post._id }}">
        <li>{{post.title}}</li>
      </a>
      {% endfor %}
    </ul>
    <h2>New Post</h2>
    <form action="/new-post/{{userid}}" method="POST">
      {% if error %} <span class="error">{{ error }}!</span>{% endif %}
      {% if saved %} <span class="saved">Post saved!</span>{% endif %}
      <input required id="uuid" name="uuid" type="hidden" value="{{ uuid }}">
      <div><label for="title">Title:</label><input value="{{title}}" required id="title" name="title" type="title">
      </div>
      <div><label for="content">Content:</label></div>
      <div><textarea required id="content" name="content" rows="15" cols="50">{{content}}</textarea></div>
      <div><input type="submit" value="Save"></div>
    </form>
    <a href="/users">Back</a>
  </div>
</body>

</html>